- var SiteName = 'Sample Site'
- var PageName = 'Home'
- var PageID = 'home'
doctype html
html(lang='ru')
    include includes/head.pug
    body
        include includes/navigation.pug
        section.first-section
            div.container
                nav.navigation
                main#pug-id
                    h1 My Page
                    p Проодолжить разработку и установить npm install --save-dev gulp-uglify
                    p Сделать задачу минификации js
                    p https://getinstance.info/articles/tools/introduction-to-gulp/
                    p https://www.npmjs.com/package/gulp-uglify
                    p Подключить common.js
                    p
                        a(href='#' title='test') Тестовая ссылка
                    div.box
                    div.message
                    div.success
                    div.error
                    div.warning
                aside(role="complementary")
                    div.message
                    div.success
                    div.error
                    div.warning
                aricle(role="main")
                    div.message
                    div.success
                    div.error
                    div.warning
        footer
            div.container
                p Copyright